<div class="container">
    <app-menu></app-menu>
    <app-modal></app-modal>

    <div class="container2">


        <nz-card *ngFor="let user of userService['users']" class="card" style="width:40vw;">
            <div routerLink="/profile/{{user.name}}" class="container3">
                <nz-avatar [nzSize]="100" nzSrc="{{API_URL}}/images/user/profile/{{user['profile_path']}}"></nz-avatar>
                <div>
                    <h3>{{user['name']}}</h3>
                    <p>{{user['userInfo']}}</p>
                </div>

            </div>

        </nz-card>

    </div>




    <app-directs></app-directs>
</div>