.container {
    display: flex;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 75vh;
    overflow: auto;
}

.engloba {
    border: solid gainsboro 0.01em;
    // background-color: yellowgreen !important;
    height: 85vh;
}

.send {
    text-align: end;
}

.receive {
    text-align: start;
}

img {
    width: 25vw
}

.ant-card {
    margin: 0.3em;
    border-radius: 0.3em;
    background-color: #F5F8FD;
}

#scroller * {
    /* don't allow the children of the scrollable element to be selected as an anchor node */
    overflow-anchor: none;
}

#anchor {
    /* allow the final child to be selected as an anchor node */
    overflow-anchor: auto;
    /* anchor nodes are required to have non-zero area */
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.my-list {
    margin: 1em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 60vh;
    overflow: auto;
    .input {
        position: fixed;
        bottom: 20%;
        width: 30vw;
    }
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

[type="file"]+label {
    color: white;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #9A48E8;
    border-color: #d9d9d9;
}

[type="file"]+label :hover {
    transition: 1s;
    color: white;
    background: #9A48E8;
}

.caca {
    width: 45vw;
}

img {
    width: 10vw;
}