.container {
    display: flex;
    justify-content: space-between;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card {
    width: 45vw;
    img {
        height: 20vh;
    }
}

.imagenes {
    width: 70%;
    margin: auto;
}

.ant-card-bordered {
    margin: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.ant-card {
    padding: 12px;
    background-color: #F5F8FD;
}

// ng-template {
//     width: 100%;
// }
p {
    text-align: center;
}

.delete {
    text-align: end;
}

.ant-card {
    padding: 12px;
    background-color: #F5F8FD;
}

.div {
    display: flex;
    justify-content: space-between;
    width: 35vw;
    p {
        color: rgb(136, 131, 131);
        font-size: 12px;
    }
}