<div class="container">
    <app-modal></app-modal>
    <div>
        <app-menu></app-menu>
    </div>
    <div>

        <nz-card class="card" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">


            <nz-card-meta nzTitle="{{userService['user']['name']}}" nzDescription="{{userService['user']['userInfo']}}" [nzAvatar]="avatarTemplate"></nz-card-meta>

        </nz-card>

        <ng-template #avatarTemplate>
            <nz-avatar [nzSize]="100" nzSrc="{{API_URL}}/images/user/profile/{{userService['user']['profile_path']}}"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate>
            <img alt="example" src="{{API_URL}}/images/user/header/{{userService['user']['header_path']}}" />
            <input type="file" (change)="editHead(headerInput)" #headerInput id="file3">
            <label for="file3" class="btn-3"><span>Edit header<i nz-icon nzType="highlight" nzTheme="outline"></i></span></label>
        </ng-template>


        <ng-template #actionSetting>
            <p>Followers</p> <i nz-icon nzType="team"></i>{{userService['user']['followers'].length}}
        </ng-template>
        <ng-template #actionEdit>
            <span (click)="showModal()"><p>Edit</p> <i nz-icon nzType="edit"></i></span>
        </ng-template>
        <ng-template #actionEllipsis>
            <p>Following</p> <i nz-icon nzType="team"></i>{{userService['user']['following'].length}}
        </ng-template>
        <nz-card style="width:45vw; margin:5px;text-align: center" *ngFor="let publication of userService['user']['publications']">
            <div class="delete">

                <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                    <i nz-icon nzType="down"></i>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item on-click="showUpdatePublicationModal(publication)"><i nz-icon nzType="edit" nzTheme="fill"> </i>Edit</li>
                        <li nz-menu-item><i nz-icon nzType="delete" nzTheme="fill">
                        </i> <a nz-popconfirm nzPopconfirmTitle="Are you sure delete this publication?" nzOkText="ok" nzCancelText="cancel" (nzOnConfirm)="deletePublic2(publication)" (nzOnCancel)="cancel()">Delete</a></li>

                        <li nz-menu-divider></li>

                    </ul>
                </nz-dropdown-menu>



            </div>
            <div class="container2" routerLink="/publication/{{publication['_id']}}">

                <div class="div">
                    <div class="div2">

                        <nz-avatar nzSize="large" nzSrc="{{API_URL}}/images/user/profile/{{userService['user']['profile_path']}}"></nz-avatar>

                        <h3>{{userService['user']['name']}}</h3>
                    </div>
                    <p>{{userService.user.createdAt | date }}</p>

                </div>

                <p>{{publication.publication}}</p>
                <img class="imagenes" *ngIf="publication.image_path" src="{{API_URL}}/images/publications/{{publication.image_path}}" alt="imagen publicación">

            </div>

            <div class="icons">

                <div class="comments">
                    <i nz-icon nzType="message" nzTheme="outline" routerLink="/publication/{{publication['_id']}}"></i>
                    <p>{{(publication['comments']).length}}</p>

                </div>


                <div class="likes">
                    <i *ngIf="!publication.likes.includes(userService.user._id)" on-click="GiveLike(publication)" nz-icon nzType="heart" nzTheme="outline"></i>
                    <i *ngIf="publication.likes.includes(userService.user._id)" on-click="NoLike(publication)" nz-icon nzType="heart" nzTheme="fill"></i>


                    <p *ngIf="publication.likes">{{(publication.likes).length}}</p>

                </div>


            </div>



        </nz-card>
    </div>

    <div>
        <app-directs></app-directs>
    </div>



</div>

<form>
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" (nzOnCancel)="handleCancel()" (nzOnOk)="editProf()">
        <ng-template #modalTitle>
            Edit your profile
        </ng-template>

        <ng-template #modalContent>
            <input nz-input placeholder=" Name " #name="ngModel" name="name" id="name" [(ngModel)]="userService['user']['name']" />
            <br />
            <br />
            <input nz-input placeholder="Description " #userInfo="ngModel" name="userInfo" id="userInfo" [(ngModel)]="userService['user']['userInfo']" />
            <br />
            <br />
            <label for="file" class="btn-3"><span>Select profile Image</span></label>
            <br />
            <input type="file" (change)="avatar=$event.target.files[0]" id="file">
            <br />
        </ng-template>
    </nz-modal>
</form>