.textarea {
    width: 40vw;
}

li {
    font-size: larger !important;
    padding: 0.5em;
    // margin: 4em;
}

.formulario {
    display: flex;
    justify-content: center;
    padding: 1px;
}

button {
    color: white;
    background: #9A48E8;
}

button:hover {
    color: #9A48E8;
    border-color: #9A48E8;
}

li:hover {
    color: #9A48E8;
    border-color: #9A48E8;
}

.texto {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: center;
}

.list button {
    text-align: center;
}

.list {
    position: fixed;
}

.ant-menu ul,
.ant-menu ol {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #ea4c8949;
}

.ant-menu-item-selected {
    color: #9A48E8;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #9A48E8;
}

.ant-menu-item-selected {
    color: #9A48E8;
}

.router-link-active {
    border-right: 3px solid #9A48E8;
    color: #9A48E8;
    background-color: rgba(155, 72, 232, 0.274)
}

img {
    bottom: 0;
    width: 10vw;
}

@media(max-width: 700px) {
    .list {
        width: 15vw;
    }
}