/* You can add global styles to this file, and also import other style files */

main {
    background-color: #F5F8FD;
    flex: 1
}

.ant-card-body {
    padding: 12px;
}

svg {
    color: #9A48E8;
}

p {
    font-size: 18px;
}

.ant-card-actions {
    background-color: #F5F8FD;
}

.ant-btn:hover,
.ant-btn:focus {
    color: #9A48E8;
    background-color: #fff;
    border-color: #9A48E8;
}

.ant-btn-primary {
    background-color: #9A48E8;
    border-color: #9A48E8;
}

.ant-card-actions>li>span:hover {
    color: #9A48E8
}

.ant-card-cover>* {
    display: block;
    width: 43vw;
}