<section class="registerContainer">

    <div class="imagen">
    </div>
    <div class="register">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <h1>Register</h1>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
                    <span>
                  Name
                  <i
                    nz-icon
                    nz-tooltip
                    nzTitle="What do you want other to call you"
                    nzType="question-circle"
                    nzTheme="outline"
                  ></i>
                </span>
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your nickname!">
                    <input nz-input id="name" formControlName="name" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                    <input nz-input formControlName="email" id="email" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                    <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,40}$" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password2" nzRequired>Confirm Password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                    <input nz-input type="password" formControlName="password2" id="password2" />
                    <ng-template #errorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please confirm your password!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">
                            Two passwords that you enter is inconsistent!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <label nz-checkbox formControlName="agree" required>
                        <span>I have read the </span>
                    </label>
                    <a href="https://www.termsandconditionsgenerator.com/live.php?token=XN8S5rvoXb5DQO6Ahe5Qs28yaFY7kQT0">agreement</a>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary" type="submit">Register</button>
                </nz-form-control>
            </nz-form-item>
            <p class="lead mt-4">If you already have an account <a [routerLink]="['/login']" routerLinkActive="router-link-active">Log in</a></p>

        </form>
    </div>
</section>