section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
    h1 {
        text-align: center;
        color: #9A48E8;
        padding: 1em;
    }
}

form {
    width: 40vw;
}

.registerContainer {
    background-image: url('https://wallpaperaccess.com/full/423841.jpg');
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91vh;
}

.ant-btn-primary {
    background: #9A48E8;
    border: none;
}

img {
    position: absolute;
    bottom: 0px;
}

a {
    all: unset;
    color: #9A48E8;
    cursor: pointer;
}

p {
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}