.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    background-color: white;
    color: #9A48E8;
    height: 10vh;
}

.logoTitulo {
    display: flex;
    align-items: flex-end;
}

img {
    width: 15vw;
}

p {
    font-size: 12px;
}