<section class="container">
    <div class="login">
        <form nz-form [nzLayout]="" [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <h1>Login</h1>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user">
                        <input formControlName="email" nz-input placeholder="Username" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group nzPrefixIcon="lock">
                        <input formControlName="password" nz-input type="password" placeholder="Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button type="submit" nz-button nzType="primary" [disabled]="!validateForm.valid">Log in</button>
                </nz-form-control>
            </nz-form-item>
            <p class="lead mt-4">Still without an account? <a [routerLink]="['/register']" routerLinkActive="router-link-active">register now</a></p>
        </form>
    </div>



</section>