<div class="container">
    <app-menu></app-menu>
    <app-modal></app-modal>

    <div class="container2">
        <nz-card style="width:45vw;" *ngFor="let publication of publicationsService['publications2']">

            <div class="div">
                <div class="div2">
                    <nz-avatar nzSize="large" nzSrc="http://localhost:3000/images/user/profile/{{publication['user']['profile_path'] }}"></nz-avatar>
                    <h3>{{publication.user.name}}</h3>

                </div>

            </div>

            <p>{{publication.publication}}</p>
            <img *ngIf="publication['image_path'] " src="http://localhost:3000/images/publications/{{publication[ 'image_path']}} " alt="imagen publicación ">
            <div class="div">
                <p style="font-size:12px;">{{userService.user.createdAt | date }}</p>
            </div>



            <div class="icons">

                <div class="comments">
                    <i nz-icon nzType="message" nzTheme="outline"></i>
                    <p>{{(publication['comments']).length}}</p>
                </div>

                <div class="likes">
                    <i *ngIf="!publication.likes.includes(userService.user._id)" on-click="GiveLike(publication)" nz-icon nzType="heart" nzTheme="outline"></i>
                    <i *ngIf="publication.likes.includes(userService.user._id)" on-click="NoLike(publication)" nz-icon nzType="heart" nzTheme="fill"></i>

                    <p *ngIf="publication.likes">{{(publication.likes).length}}</p>
                </div>
            </div>

        </nz-card>
    </div>
    <app-directs></app-directs>
</div>