<!-- <nz-card style="width:45vw;" *ngFor="let publication of publicationsService.publications">

    <div class="delete" *ngIf="userService.user['_id'] === publication.UserId">

        <i on-click="showUpdatePublicationModal(publication)" nz-icon nzType="edit" nzTheme="fill"> </i>
        <i on-click="deletePublic(publication)" nz-icon nzType="close-circle" nzTheme="fill">
        </i>
    </div>

    <div class="container">
        <div class="div">
            <h3 *ngIf="userService.user as user">{{publication.user?.name}}</h3>
            <p *ngIf="userService.user as user">{{publication.haceCuanto}}</p>
        </div>

        <img *ngIf="publication.image_path" src="http://localhost:3000/images/publications/{{publication.image_path}}" alt="imagen publicación">
        <p *ngIf="publication.publication !== '' ">{{publication.publication}}</p>
    </div>
</nz-card> -->

<nz-card style="width:45vw;" *ngFor="let publication of publicationsService.publications">

    <!-- <div class="delete" *ngIf="userService.user['_id'] === publication.UserId">

        <i on-click="showUpdatePublicationModal(publication)" nz-icon nzType="edit" nzTheme="fill"> </i>
        <i on-click="deletePublic(publication)" nz-icon nzType="close-circle" nzTheme="fill">
        </i>
    </div> -->

    <div class="container" routerLink="/publication/{{publication['_id']}}" routerLinkActive="router-link-active">
        <div class="div">
            <div class="div2">
                <nz-avatar *ngIf="userService.user as user" nzSize="large" nzSrc="http://localhost:3000/images/user/profile/{{publication.user?.profile_path}}"></nz-avatar>
                <h3 *ngIf="userService.user as user">{{publication.user?.name}}</h3>
            </div>

            <p *ngIf="userService.user as user">{{publication.haceCuanto}}</p>
        </div>
        <p *ngIf="publication.publication !== '' ">{{publication.publication}}</p>
        <img *ngIf="publication.image_path" src="http://localhost:3000/images/publications/{{publication.image_path}}" alt="imagen publicación">

    </div>
</nz-card>