<nz-card style="width:45vw;" routerLink="/publication/{{publication['_id']}}" routerLinkActive="router-link-active" *ngFor="let publication of publicationsService.publications">

    <div class="container">
        <div class="div">
            <div class="div2">
                <nz-avatar *ngIf="userService.user as user" nzSize="large" nzSrc="http://localhost:3000/images/user/profile/{{publication.user?.profile_path}}"></nz-avatar>
                <h3 *ngIf="userService.user as user">{{publication.user?.name}}</h3>
            </div>

            <p *ngIf="userService.user as user">{{publication.haceCuanto}}</p>
        </div>
        <p *ngIf="publication.publication !== '' ">{{publication.publication}}</p>
        <img *ngIf="publication.image_path" src="http://localhost:3000/images/publications/{{publication.image_path}}" alt="imagen publicación">
    </div>

    <div class="icons">
        <i nz-icon nzType="message" nzTheme="outline"></i>

        <i nz-icon nzType="heart" nzTheme="outline"></i>

    </div>

</nz-card>