.ant-card-bordered {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    text-align: center;
    margin-left: 8%;
}

.delete {
    text-align: end;
}

img {
    width: 70%;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ant-card {
    padding: 12px;
    background-color: #F5F8FD;
    img {
        display: block;
        width: 35vw;
    }
}

.div {
    display: flex;
    justify-content: space-between;
    width: 35vw;
    p {
        color: rgb(136, 131, 131);
        font-size: 12px;
    }
}

.div2 {
    display: flex;
    justify-content: space-between;
}

h3 {
    margin-top: 10px;
    margin-left: 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 5vh;
}